<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://Tricking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tricking</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$Tricking</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Tricking.Domain.Data.TrickingContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:w2fnnncb71.database.windows.net,1433;Initial Catalog=Tricking_db;User ID=cole.morton@hotmail.com@w2fnnncb71;Password=Smithwestport01" Name="Data Source=tcp:w2fnnncb71.database.windows.net,1433;Initial Catalog=Tricking_db;User Id=cole.morton@hotmail.com@w2fnnncb71;Password=Smithwestport01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tricking.Domain.Data.TrickingContext, Tricking.Domain" MigrationConfiguration="Tricking.Domain.Migrations.Configuration, Tricking.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TrickingEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:w2fnnncb71.database.windows.net,1433;Initial Catalog=Tricking_db;User ID=cole.morton@hotmail.com@w2fnnncb71;Password=Smithwestport01" Name="Data Source=tcp:w2fnnncb71.database.windows.net,1433;Initial Catalog=Tricking_db;User Id=cole.morton@hotmail.com@w2fnnncb71;Password=Smithwestport01" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=localhost;Database=Tricking;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TrickingEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=localhost;Database=Tricking;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tricking.Domain.Data.TrickingContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:w2fnnncb71.database.windows.net,1433;Initial Catalog=Tricking_db;User Id=cole.morton@hotmail.com@w2fnnncb71;Password=Smithwestport01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrickingEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:w2fnnncb71.database.windows.net,1433;Initial Catalog=Tricking_db;User Id=cole.morton@hotmail.com@w2fnnncb71;Password=Smithwestport01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Tricking.Domain.Data.TrickingContext" />
  </ItemGroup>
</Project>