<html lang="en">

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>New Gym<</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
</head>

<body>

    <div class="row">

        <canvas id="game">
            Sorry, your web browser does not support Canvas content.
        </canvas>

    </div>

    <div class="row">

        <span class="badge badge-success" id="xCoordinate">Here</span>
        <span class="badge badge-important" id="yCoordinate">There</span>

    </div>
    
    <div class="row-fluid">
        <iframe class="span12" id="iFrame" src="http://localhost/KeyLogger.htm"></iframe>
    </div>

</body>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="http://localhost/scripts/custom.keylogger.js"></script>
    <script src="~/Scripts/NewGym.js"></script>
</html>
